.container {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .subcontainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
   }
   img {
      width: 100%;
   }
   .temp {
      font-size: 100px;
      color: #19461a;
   }
   h4,
   h5 {
      color: #ffffff;
   }
}

@media (max-width: 700px) {
   .container {
      .subcontainer {
         flex-direction: column;
         align-items: center;
         width: 90%;
      }
   }
}
