.container {
   width: 100%;
   height:100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   img{
      width: 100%;
   }
   .temp{
      font-size: 100px;
      color: #19461A;
   }
   h4{
      color:#ffffff;
   }
}