.forecast{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   width: 400px;
   .forecast-item{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; 
      width: 400px;
      height: 104px;
      background: #ffffff;
      margin-bottom: 10px;
      padding: 5px;
      box-shadow: 5px 5px 15px #2c2c2c;
      img {
         width: 80%;
      }
   }
}

@media (max-width: 700px) {
   .forecast {
      width: 100%;
      margin-right: 0px;
      .forecast-item{
         width: 90%;
         height: 90%;
      }
   }
}