.weather-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 40px;
   .current-weather {
      width: 350px;
      height: 350px;
      padding: 30px 30px;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 5px 15px #2c2c2c;
      border-radius: 5px;
      img {
         width: 90%;
      }
      .temp {
         font-size: 60px;
         color: #19461a;
      }
   }
}

@media (max-width: 700px) {
   .weather-container {
      margin-right: 0px;
      .current-weather {
         width: 90%;
         height: 90%;
      }
   }
}
