.App {
   font-family: 'Open Sans Condensed';
 }
 
 a {
   text-decoration: none;
   color: black;
 }

 button,
 a:focus {
   outline: none !important;
   }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  // background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header::before {
   content : "";
   display: block;
   position: absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background-image:url('./assets/images/weather.jpg');
   background-size: cover;
   background-repeat:no-repeat;
   opacity : 0.70;
   z-index: -999;
 }
