.location {
   width: 35%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .change-location {
      margin-top: 20px;
      width: 100%;
      background: #ffffff;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      box-shadow: 5px 5px 20px #2c2c2c;
      padding: 5px 5px;

      .pac-target-input {
         width: 65%;
         height: 32.5px;
         border: 1px solid lightgray;
         // box-shadow: 0.1px 0.1px 0.5px #2c2c2c;
         border-radius: 5px;
         padding-left: 10px;
         margin: 5px;
         font-family: 'Open Sans Condensed';
         font-size: 14px;
         -webkit-box-shadow: inset 1px 1px 0 rgb(133, 133, 133);
         -moz-box-shadow: inset 1px 1px 0 rgb(133, 133, 133);
         box-shadow: inset 1px 1px 0 rgb(133, 133, 133);

         background: transparent;
      }
      .MuiButton-text {
         font-family: 'Open Sans Condensed';
      }
   }

   .name-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 20px;

      .name-tag {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 5px;
         min-width: 110px;
         max-width: 120px;
         width: 28%;
         height: 25px;
         background: #ffffff;
         text-align: center;
         font-size: 16px;
         margin: 5px;
         border-radius: 5px;
         box-shadow: 3px 3px 10px #2c2c2c;
         z-index: 0;
         cursor: pointer;
         button {
            cursor: pointer;
            height: 100%;
            align-self: center;
            font-size: 16px;
            z-index: 999;
         }
         .city {
            width: 100%;
            height: 100%;
         }
      }
   }
}

@media (max-width: 800px) {
   .location {
      width: 90%;
      .change-location {
         width: 90%;
         justify-content: center;
         border-radius: 5px;
         .pac-target-input {
            width: 65%;
         }
      }
      .name-container {
         .name-tag {
            width: 40%;
         }
      }
   }
}
