.location {
   width: 40%;
   .change-location {
      margin-top: 20px;
      width: 100%;
      background: #ffffff;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 7.5px;
      box-shadow: 5px 5px 20px #2c2c2c;
   }
   .name-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
      .name-tag {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 5px;
         width: 30%;
         height: 30px;
         background: #ffffff;
         text-align: center;
         margin-right: 5px;
         border-radius: 5px;
         box-shadow: 3px 3px 10px #2c2c2c;
         z-index: 0;
         cursor:pointer;
         button{
            cursor:pointer;
            height: 100%;
            align-self: start;
            font-size: 15px;
            z-index: 999;
         }
         .city{
            width: 100%;
            height: 100%;
         }

      }
   }
}

@media (max-width: 1200px) {
   .location {
      width: 50%;
      .change-location {
         width: 100%;
      }
      .name-container {
         .name-tag {
            width: 40%;
         }
      }
   }
}

@media (max-width: 700px) {
   .location {
      width: 90%;
      .change-location {
         width: 100%;
      }
      .name-container {
         .name-tag {
            width: 40%;
         }
      }
   }
}
