.location {
   width: 35%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .change-location {
      width: 100%;
      background: #ffffff;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 7.5px;
      box-shadow: 5px 5px 20px #2c2c2c;
      padding: 5px 5px;
      .pac-target-input{
         width: 160%;
         height: 36.5px;
         border: 1px solid lightgray;
         border-radius: 5px;
         padding-left: 10px;
         margin: 10px;
      }
   }

   .name-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 20px;
      .name-tag {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 5px;
         width: 45.5%;
         height: 30px;
         background: #ffffff;
         text-align: center;
         margin: 5px;
         border-radius: 5px;
         box-shadow: 3px 3px 10px #2c2c2c;
         z-index: 0;
         cursor:pointer;
         button{
            cursor:pointer;
            height: 100%;
            align-self: start;
            font-size: 15px;
            z-index: 999;
         }
         .city{
            width: 100%;
            height: 100%;
         }

      }
   }
}


@media (max-width: 700px) {
   .location {
      width: 90%;
      .change-location {
         width: 90%;
         justify-content: center;
         .pac-target-input{
            width: 100%;
            margin-left: -15px;
         }
      }
      .name-container {
         .name-tag {
            width: 40%;
         }
      }
   }
}
