.change-location {
   margin-top: 40px;
   width: 750px;
   background: #ffffff;
   height: 80px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}


@media (max-width: 700px) {
   .change-location {
      width: 90%;
    }
}
